.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  #whatsapp-btn.show {
    opacity: 1;
    visibility: visible;
  }

@media only screen and (min-width:320px) and (max-width:768px) {
    .btn-wsp {
        width: 63px;
        height: 63px;
        line-height: 66px;
    }   }

    .btn-get-started {
      
        animation: animateLetter 2s infinite;
      }

    @keyframes btn-get-started{
        0% {
            transform: scale(1);
            color: rgb(255, 255, 255);
            }
            50% {
            transform: scale(1.5) rotate(0.2deg);
            color: #92f5b3;
          }
          100% {
            transform: scale(1) rotate(0deg);
            color: rgba(255, 255, 255, 0.788);
          }
    }