body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.carousel-container {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-slide {
    position: relative;
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 85px;
    text-align: left;
    box-sizing: border-box;
}
.overlay:hover {
    background-color: rgba(0, 0, 0, 0.856);
    cursor:pointer;
}


.overlay h2 {
    margin: 0;
    font-size: 24px;
}

.overlay p {
    margin: 5px 0 0;
    font-size: 16px;
}

button.prev, button.next {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
